.product-price-section {
    padding: 24px 0;
    display: block;
    font-size: 15px;
    position: relative;
}

.product-price-section .product-price-section-wrap {
    display: flex;
    margin: auto;
    max-width: 1200px;
    justify-content: center;
}

.mantine-Fieldset-root {
    padding: 10px 60px !important;
}

.mantine-Fieldset-legend {
    font-size: 20px !important;
    font-weight: 800;
}

.product-price-mb4 {
    margin-bottom: 16px !important;
}

.product-price-text-sub-heading {
    font-size: 18px;
}

.product-price-text-sub-heading {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    font-weight: 700;
    line-height: 1.3333333333;
    margin: 0;
    word-break: break-word;
}

.product-price-g-row {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    gap: 2rem;
}

.product-price-grid-settings-item {
    padding-right: 40px;
}

.product-price-g-s-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.product-price-g-col {
    box-sizing: border-box;
    flex: 1 0;
    min-width: 0;
}

.product-price-util-text-overflow-break-word {
    overflow-wrap: break-word;
    word-break: break-word;
}

.input-check {
    display: flex;
    gap: 1rem;
    width: 625px;
}

#enableInputsCheckbox {
    cursor: pointer;
}

.product-price-text-signpost {
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
}

.table-container {
    background-color: #fff;
    width: 625px;
}

.product-price-table-list {
    border: 0;
    border-collapse: collapse;
    width: 100%;
}

.product-price-table-list-cell,
.product-price-table-list-head-cell {
    width: 600px;
    text-align: center;
}

.product-price-table-list-row--header {
    border-bottom-color: #c9c7ca;
}

.product-price-table-list-row {
    border-bottom: 1px solid #e7e5e8;
}

.product-price-table-list * {
    box-sizing: border-box;
}

.product-price-table-list-head-cell {
    height: 56px;
    position: relative;
    vertical-align: middle;
}

.product-price-align-right {
    text-align: right !important;
}

.product-price-text-supplementary {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    margin: 0;
    word-break: break-word;
}

.product-price-text-supplementary {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25;
}

.product-price-table-list-cell:first-child:not(.product-price-table-list-cell--toggle):not(.product-price-table-list-cell--info) {
    padding-left: 0;
}

.product-price-table-list-cell {
    padding: 22px 8px 16px;
    position: relative;
    text-align: left;
    vertical-align: initial;
}

.product-price-util-text-overflow-normal {
    overflow-wrap: normal;
    word-break: normal;
}

.product-price-text-body {
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    font-synthesis: none;
    line-height: 1.3333333333;
    margin: 0;
}

.product-price-util-pos-relative {
    position: relative;
}

.product-price-input {
    background-color: #fff;
    border: 2px solid #e7e5e8;
    border-radius: 4px;
    box-shadow: none;
    color: #27252a;
    font-family: lato, Helvetica Neue, helvetica, roboto, arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    outline: none;
    padding: 11px 14px;
    transition-duration: .2s;
    transition-property: border-color, box-shadow;
    width: 100%;
    word-break: normal;
}

input {
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}

.product-price-input-symbol {
    line-height: 1;
}

.product-price-input-icon--right {
    right: 12px;
}

.product-price-input-icon {
    color: var(--hs-color-fg-supplementary-default);
    pointer-events: none;
    position: absolute;
    top: 14px;
}

.input-disable {
    background-color: lightgrey;
    border: 2px solid #e7e5e8;
    border-radius: 4px;
    box-shadow: none;
    color: #27252a;
    font-family: lato, Helvetica Neue, helvetica, roboto, arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    outline: none;
    padding: 11px 14px;
    transition-duration: .2s;
    transition-property: border-color, box-shadow;
    width: 100%;
    word-break: normal;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}