.product-category-section {
    display: block;
    padding: 24px 48px;
}

.product-category-sub-heading {
    font-size: 18px;
}

.input-field-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    flex-direction: column;
}

.product-category-g-row {
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
}

.product-category-text-label {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.3333333333;
    margin: 0 0 4px;
}

.product-category-g-col {
    display: flex;
    flex: 1 1;
}

.product-category-inputField {
    width: 100%;
}

.product-category-inputField input {
    background-color: #fff;
    border: 2px solid #e7e5e8;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    color: #27252a;
    cursor: text;
    font-family: lato, Helvetica Neue, helvetica, roboto, arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    outline: none;
    padding: 11px 14px;
    transition-duration: .2s;
    transition-property: border-color, box-shadow;
    width: 100%;
    word-break: normal;
}

.product-category-btn {
    border: 1px solid #0000;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: lato, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 15px;
    font-synthesis: none;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding: 12px 20px;
    position: relative;
    text-align: center;
    transition-duration: .2s;
    transition-property: background, color, border, box-shadow;
    word-break: break-word;
}

.product-category-btn--text-go {
    background-color: initial;
    color: var(--hs-color-fg-go-default);
}

.product-category-modal-popup {
    width: 100%;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
}

.product-category-modal-popup-heading {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.product-category-modal-popup-label {
    font-size: 18px;
    font-weight: 700;
}

#product-category-search-input {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    outline: none;
    padding: 11px 36px 11px 14px;
    border: 2px solid #e7e5e8;
    border-radius: 10px;
}

.product-category-child {
    padding: 10px 20px;
}

.product-category-child-level {
    font-size: 16px;
    font-weight: 800;
}

.product-category-child-list {
    list-style: none;
    padding: 0;
}

.product-category-child-list li {
    padding: 10px 0px;
    cursor: pointer;
}

.product-category-heirarchyLevel {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    border-top: 2px solid silver;
}

.product-category-heirarchyLevel button {
    padding: 10px 20px;
    background: none;
    cursor: pointer;
    border: none;
}