:root {
    --vd-section-padding-h: 48px;
    --vd-section-padding-v: 24px;
}

:root {
    --vd-dialog-spacing: 32px;
}

.vd-theme--light,
:root {
    --hs-color-bg-go-default: #3f32f5;
    --hs-color-bg-go-default-rgb: 63, 50, 245;
    --hs-color-bg-go-highlight-default: rgba(128, 140, 255, .102);
    --hs-color-bg-go-soft: #6054ff;
    --hs-color-bg-go-strong: #352acf;
    --hs-color-bg-neutral-backdrop: #f4f2f5;
    --hs-color-bg-neutral-dark-default: #0b0b0b;
    --hs-color-bg-neutral-edge: #e7e5e8;
    --hs-color-bg-neutral-inverted-backdrop: #141217;
    --hs-color-bg-neutral-inverted-top: #1e1c21;
    --hs-color-bg-neutral-top: #fff;
    --hs-color-bg-neutral-top-rgb: 255, 255, 255;
    --hs-color-bg-no-default: #bb2a1a;
    --hs-color-bg-no-default-rgb: 187, 42, 26;
    --hs-color-bg-no-soft: #d4301d;
    --hs-color-bg-no-strong: #a12416;
    --hs-color-bg-success-default: #0e7b1d;
    --hs-color-bg-supplementary-default: #32577d;
    --hs-color-bg-supplementary-default-rgb: 50, 87, 125;
    --hs-color-bg-supplementary-soft: #3c6996;
    --hs-color-bg-supplementary-strong: #284563;
    --hs-color-border-go-default: #3f32f5;
    --hs-color-border-neutral-inverted-soft: #27252a;
    --hs-color-border-neutral-inverted-strong: #37353a;
    --hs-color-border-neutral-soft: #e7e5e8;
    --hs-color-border-neutral-strong: #c9c7ca;
    --hs-color-border-no-default: #bb2a1a;
    --hs-color-border-success-default: #0e7b1d;
    --hs-color-fg-go-default: #3f32f5;
    --hs-color-fg-neutral-default: #27252a;
    --hs-color-fg-neutral-inverted-default: #fff;
    --hs-color-fg-neutral-ondark-default: #fff;
    --hs-color-fg-no-default: #bb2a1a;
    --hs-color-fg-success-default: #0e7b1d;
    --hs-color-fg-supplementary-default: #32577d;
    --hs-color-overlay-neutral-strong: rgba(0, 0, 0, .349);
    --hs-color-select-arrows-bg: url(data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='46' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%2327252A' d='M10 0 0 10h20zM0 36h20L10 46z'/%3E%3C/svg%3E);
    --vd-colour--solar: #e6b03d;
    --vd-colour--mars: #ed6b44;
    --vd-colour--farout-pink: #de3cec;
    --vd-colour--galaxy: #a02fb6;
    --vd-colour--deep-purple: #501897;
    --vd-colour--neptune: #6952f6;
    --vd-colour--shuttle-grey: #5d5d5d;
    color-scheme: light;
}



.vd-section {
    padding: var(--vd-section-padding-v) 0;
    display: block;
    font-size: 15px;
    position: relative;
}

section {
    display: block;
    unicode-bidi: isolate;
}

.vd-section .vd-section-wrap {
    display: block;
    margin: 0;
    max-width: 1200px;
}


.vd-mb4 {
    margin-bottom: 16px !important;
}

.vd-text-sub-heading {
    font-size: 18px;
}

.vd-text-sub-heading {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    font-weight: 700;
    line-height: 1.3333333333;
    margin: 0;
    word-break: break-word;
}

.vd-g-row {
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    gap: 8rem;
}

.vd-grid-settings-item {
    padding-right: 40px;
}

.vd-g-s-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.vd-g-col {
    box-sizing: border-box;
    flex: 1 0;
    min-width: 0;
}

.vd-util-text-overflow-break-word {
    overflow-wrap: break-word;
    word-break: break-word;
}

.input-check {
    display: flex;
    gap: 1rem;
    width: 625px;
}

#enableInputsCheckbox {
    cursor: pointer;
}

.vd-text-signpost {
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
}

.table-container {
    background-color: #fff;
    width: 625px;
}

.vd-table-list {
    border: 0;
    border-collapse: collapse;
    width: 100%;
}

.vd-table-list-cell,
.vd-table-list-head-cell {
    width: 600px;
    text-align: center;
}

.vd-table-list-row--header {
    border-bottom-color: var(--hs-color-border-neutral-strong);
}

.vd-table-list-row {
    border-bottom: 1px solid var(--hs-color-border-neutral-soft);
}

.vd-table-list * {
    box-sizing: border-box;
}

.vd-table-list-head-cell {
    height: 56px;
    position: relative;
    vertical-align: middle;
}

.vd-align-right {
    text-align: right !important;
}

.vd-text-supplementary {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    margin: 0;
    word-break: break-word;
}

.vd-text-supplementary {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25;
}

.vd-table-list-cell:first-child:not(.vd-table-list-cell--toggle):not(.vd-table-list-cell--info) {
    padding-left: 0;
}

.vd-table-list-cell {
    padding: 22px 8px 16px;
    position: relative;
    text-align: left;
    vertical-align: initial;
}

.vd-util-text-overflow-normal {
    overflow-wrap: normal;
    word-break: normal;
}

.vd-text-body {
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    font-synthesis: none;
    line-height: 1.3333333333;
    margin: 0;
}

.vd-util-pos-relative {
    position: relative;
}

.vd-input {
    background-color: var(--hs-color-bg-neutral-top);
    border: 2px solid var(--hs-color-border-neutral-soft);
    border-radius: 4px;
    box-shadow: none;
    color: var(--hs-color-fg-neutral-default);
    font-family: lato, Helvetica Neue, helvetica, roboto, arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    outline: none;
    padding: 11px 14px;
    transition-duration: .2s;
    transition-property: border-color, box-shadow;
    width: 100%;
    word-break: normal;
}

input {
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}

.vd-input-symbol {
    line-height: 1;
}

.vd-input-icon--right {
    right: 12px;
}

.vd-input-icon {
    color: var(--hs-color-fg-supplementary-default);
    pointer-events: none;
    position: absolute;
    top: 14px;
}

.input-disable {
    background-color: lightgrey;
    border: 2px solid var(--hs-color-border-neutral-soft);
    border-radius: 4px;
    box-shadow: none;
    color: var(--hs-color-fg-neutral-default);
    font-family: lato, Helvetica Neue, helvetica, roboto, arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    outline: none;
    padding: 11px 14px;
    transition-duration: .2s;
    transition-property: border-color, box-shadow;
    width: 100%;
    word-break: normal;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}