* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Figtree';
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    box-shadow: 0px 0px 2px;
    background-color: var(--header-bg) !important;
    background-color: var(--tab-label);
}

.nav-bar .ultron_logo {
    background-color: #11627c;
    padding: 5px 10px;
}
.nav-bar .nav-header {
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    width: 100px;
    color:white;
}

.nav-bar .active {
    position: absolute;
    z-index: -1;
    width: 6rem;
    background-color: #11627c;
    transition: all .5s ease 0s;
    display: none;
    padding: 32px;
}

.active.visible {
    display: block;
}

.nav-bar .person_name {
    display: contents;
    width: 200px;
    font-size: 15px;
    font-weight: 800;
    color: white;
}

.nav-bar .avatar {
    position: relative;
    right: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .nav-bar .nav-header {
        font-size: 9px;
        width: 75px;
    }

    .nav-bar .active {
        position: absolute;
        height: 0.2rem;
        width: 4.5rem;
        background-color: #11627c;
        transition: all .5s ease 0s;
        display: none;
    }

    .nav-bar .person_name {
        display: none;
    }

    .nav-bar .avatar {
        right: 4rem;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .nav-bar h1 {
        font-size: 20px;
    }

    .nav-bar .nav-header {
        font-size: 12px;
        padding: 0px 5px;
        width: 90px;
    }

    .nav-bar .person_name {
        font-size: 14px;
    }

}

@media screen and (min-width: 2560px) {
    .nav-bar {
        height: 4.5rem;
    }

    .nav-bar h1 {
        font-size: 40px;
        left: 3rem;
    }

    .nav-bar .nav-header {
        font-size: 15px;
        width: 115px;
    }

    .nav-bar .active {
        width: 7rem;
    }

    .nav-bar .person_name {
        font-size: 20px;
    }

}