* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, 'Lucida Sans', sans-serif;
    /* font-family: 'Open Sans', Arial, sans-serif; */
}

body {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -.015em;
    color: var(--text-base);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-break: break-word;
    overflow: hidden;
}