:root {
  --color1: #003366;
  --color2: #66B2B2;
  --color3: #FF6F61;
  --color4: #B3669E;
  --tab-label: #157b9c;
  --mantine-scale : 1;
}

body{
  font-size: 14px !important;
}
#root {
  /* height: 100vh; */
}