@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    box-shadow: 0px 0px 2px;
    background-color: var(--tab-label) !important;
}

/* nav h1 {
    font-size: 18px;
    font-weight: 800;
    background: linear-gradient(to right, #003366, #66B2B2, #FF6F61, #B3669E);
    background-clip: text;
    color: transparent;
    position: relative;
    left: 1rem;
} */

nav img {
    background-color: #11627c;
    width: 170px;
    padding: 20px 10px;
}
nav .header {
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    width: 100px;
    color:white;
}

nav .active {
    position: absolute;
    z-index: -1;
    width: 6rem;
    background-color: #11627c;
    transition: all .5s ease 0s;
    display: none;
    padding: 33px;
}

.active.visible {
    display: block;
}

nav .person_name {
    display: contents;
    width: 200px;
    font-size: 15px;
    font-weight: 800;
    color: white;
}

nav .avatar {
    position: relative;
    right: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    nav h1 {
        font-size: 16px;
        left: 0.4rem;
    }

    nav .header {
        font-size: 10px;
        padding: 0px 0px;
        width: 75px;
    }

    nav .active {
        position: absolute;
        height: 0.2rem;
        top: 3.3rem;
        z-index: 0;
        width: 4.5rem;
        background-color: #fff;
        transition: all .5s ease 0s;
        display: none;
    }

    nav .person_name {
        font-size: 10px;
    }

    nav .avatar {
        right: 0rem;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    nav h1 {
        font-size: 20px;
    }

    nav .header {
        font-size: 12px;
        padding: 0px 5px;
        width: 90px;
    }

    nav .person_name {
        font-size: 14px;
    }

}

@media screen and (min-width: 2560px) {
    nav {
        height: 4.5rem;
    }

    nav h1 {
        font-size: 40px;
        left: 3rem;
    }

    nav .header {
        font-size: 15px;
        width: 115px;
    }

    nav .active {
        top: 3.8rem;
        width: 7rem;
    }

    nav .person_name {
        font-size: 20px;
    }

}