.header-container {
    display: flex;
    justify-content: flex-end;
}

.customer-container {
    width: 100%;
    padding: 1rem 5rem;
}

.customer-header {
    font-size: 28px;
    font-weight: 800;
    max-width: 1200px;
    padding: 20px 0;
    box-sizing: border-box;
}

.form-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    box-sizing: border-box;
}

.customer-form-group {
    flex: 1 1 calc(50% - 32px);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    text-align: left;
    gap: 5px;
}

.customer-form-group .customer-label {
    margin-bottom: 8px;
    font-weight: bold;
    width: 225px;
}

.custBtn {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.address_tab_container {
    display: flex;
    margin-bottom: 10px;
}

.tab-button {
    /* margin-right: 10px; */
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid silver;
    border-right: 1px solid silver;
}

.tab-button.active {
    font-weight: bold;
    background-color: #077fb3;
    color: #ffffff;
}

.btns {
    display: flex;
    column-gap: 1rem;
}

.btn {
    padding: 10px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 14px;
    font-weight: 800;
    border-radius: 5px;
}

.addBtn {
    color: #ffffff;
    background-color: #1aa147;
}

.removeBtn {
    color: #ffffff;
    background-color: #ff0000;
}